html, body {
    height: 100%;
    margin: 0;
}

/* Контейнер для содержимого и футера */
body {
    display: flex;
    flex-direction: column;
}
.size-top {
    margin-top: 50px;
}
/* Контент занимает все доступное пространство */
.content {
    flex: 1 0 auto;
}

/* Футер остается внизу */
.footer {
    flex-shrink: 0;
    padding: 1rem;
    background-color: #f1f1f1; /* или любой другой цвет */
    text-align: center;
}


.group {
    margin-bottom: 30px;
}
.fixed-table th, .fixed-table td {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.fixed-table th.id-col, .fixed-table td.id-col {
    width: 50px;
}
.fixed-table th.last-name-col, .fixed-table td.last-name-col {
    width: 150px;
}
.fixed-table th.first-name-col, .fixed-table td.first-name-col {
    width: 150px;
}
.fixed-table th.middle-name-col, .fixed-table td.middle-name-col {
    width: 150px;
}
.fixed-table th.edit-col, .fixed-table td.edit-col {
    width: 100px;
}
.fixed-table th.delete-col, .fixed-table td.delete-col {
    width: 100px;
}

.custom-icon {
    font-size: 2rem; /* Увеличьте значение для большего размера */
}


.option-absent {
    background-color: red;
    color: white;
}

.option-sick {
    background-color: yellow;
    color: black;
}